*{
    margin: 0;
}
.header{
    background-image: url(./img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 709px;
    display: block;
}
.information-1{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    padding-top: 300px;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.information-1 p {
    color: white;
    padding-top: 20px;
    width: 500px;
}
.history{
    background-image: url(./img/history.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 709px;
    font-weight: bold;   
}
.table h1{
    border-bottom: 4px solid white ;
    padding: 5px;
    margin: 7px;
}
.h1{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.table{ 
    display: flex;
    padding: 20px;
    color: white;
    font-size: 18px;
}
.information-2{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    height: 270px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    }
.information-3{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    height: 550px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
}
.information-4{ width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    height: 470px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    }
.climate{
    background-image: url(./img/climate.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    font-weight: bold;   
    }
.information-5{
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 250px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
.information-5 p{
    width: 800px;
    padding-top: 20px;
}    
.features{
    background-image: url(./img/feature.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 709px;
    font-weight: bold;   
}
.table-2 h1{
    border-bottom: 4px solid white ;
    padding: 5px;
    margin: 7px;
}
.information-6{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.table-2{ 
    display: flex;
    padding: 20px;
    color: white;
    font-size: 18px;
}
.table-2 a{
color: white;
text-decoration: none;
}
.information-7{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    height: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
    .information-7 button{
        border: 0 solid white;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 20px;
        padding: 15px;
        width: 150px;
        border-radius: 5px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        font-size: 16px;
    }
    .information-7 button:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .information-8{
        width: 500px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 10px;
        height: 290px;
        text-align: center;
        box-shadow: 0px 0px 10px white;
        padding: 10px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        }
        .information-8 button{
            border: 0 solid white;
            color: white;
            background-color: rgba(255, 255, 255, 0.3);
            margin: 20px;
            padding: 15px;
            width: 150px;
            border-radius: 5px;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
            font-size: 16px;
        }
        .information-8 button:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
        .information-9{
            width: 500px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 10px;
            height: 400px;
            text-align: center;
            box-shadow: 0px 0px 10px white;
            padding: 10px;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
            }
            .information-9 button{
                border: 0 solid white;
                color: white;
                background-color: rgba(255, 255, 255, 0.3);
                margin: 20px;
                padding: 15px;
                width: 150px;
                border-radius: 5px;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
                font-size: 16px;
            }
            .information-9 button:hover{
                background-color: rgba(255, 255, 255, 0.5);
            }
@media all and (max-width:900px){
    .header{
        background-size: cover;
    }
  .information-1 p{
      max-width: 400px;
  }
  .history{
    background-position: center;
    background-size: cover;
    height: 1100px;
    padding-bottom: 500px;
}
.table{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.information-2{
max-width: 450px;
}
.information-3{
    max-width: 450px;
    }
    .information-4{
        max-width: 450px;
        }
        .climate{
            background-position: center;
            background-size: cover; 
            height: 800px;
        }
        .information-5 p{
            max-width: 400px;
        }
        .features{
            background-position: center;
            background-size: cover; 
            height: 1400px;
        }
        .table-2{
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
        .info           rmation-7{
            max-width: 450px;
            }
            .information-8{
                max-width: 450px;
                }
                .information-9{
                    max-width: 450px;
                    }
}
@media (max-width: 446px){
  .information-1 p{
      width: 300px;
   }
   .header{
       height: auto;
   }
   .history{ 
       width: auto;
   }
   .h1{
       font-size: 19px;
   }
   .information-2{
    max-width: 480px;
    }
    .information-3{
        max-width: 480px;
        }
        .information-4{
            max-width: 480px;
            }
            .climate{
                background-position: center;
                background-size: cover; 
                width: auto;
            }
            .information-5 p{
                max-width: 300px;
            }
            .features{
                background-position: center;
                background-size: cover; 
                height: auto;
            }
            .table-2{
                display: flex;
                flex-direction: column;
                padding-left: 0;
            }
            .information-7{
                max-width: 470px;
                }
                .information-8{
                    max-width: 470px;
                    }
                    .information-9{
                        max-width: 470px;
                        }
}
@media (max-width: 347px){
    .information-1 p{
        width: 200px;
     }
     .header{
         height: auto;
     }  
     .history{ 
         width: auto;
         height: auto;
     }
     .h1{
         font-size: 18px;
     }
     .information-2{
      height: auto;
      width: auto;
      }
      .information-2 p{
        max-width: 200px;
        }
        .information-2 h1{
            max-width: 200px;
            }
            .information-3{
                height: auto;
                width: auto;
                }
                .information-3 p{
                  max-width: 200px;
                  }
                  .information-3 h1{
                      max-width: 200px;
                      }
                      .information-4{
                        height: auto;
                        width: auto;
                        }
                        .information-4 p{
                          max-width: 200px;
                          }
                          .information-4 h1{
                              max-width: 200px;
                              }
          .information-4{
              max-width: 480px;
              }
                          .climate{
                            background-position: center;
                            background-size: cover; 
                            width: auto;
                            height: auto;
                        }
                        .information-5 p{
                            max-width: 200px;
                        }
                        .features{
                            background-position: center;
                            background-size: cover; 
                            height: auto;
                        }
                        .information-7{
                            height: auto;
                            width: auto;
                            }
                            .information-7 p{
                              max-width: 200px;
                              }
                              .information-7 h1{
                                  font-size: 20px;
                                  }
                                  .information-8{
                                    height: auto;
                                    width: auto;
                                    }
                                    .information-8 p{
                                      max-width: 200px;
                                      }
                                      .information-8 h1{
                                          max-width: 200px;
                                          }
                                          .information-9{
                                            height: auto;
                                            width: auto;
                                            }
                                            .information-9 p{
                                              max-width: 200px;
                                              }
                                              .information-9 h1{
                                                  max-width: 200px;
                                                  }
  }